<h3>{{store?.name}}</h3>

<button type="button" class="btn btn-outline-primary" (click)="AddProductToStore()">Add Product</button>
<button type="button" class="btn btn-outline-secondary"(click)="GetAllProductsInStore()">Get Store Products</button>
<button type="button" class="btn btn-outline-success"(click)="EditStore()">Edit Store</button>
<button type="button" class="btn btn-outline-danger"(click)="DeleteCurrentStoreAndReturnToUserStores()">Delete Store</button>
<!-- <button type="button" class="btn btn-outline-warning">Warning</button> -->