<div class="row address-list">
    <div *ngFor="let addressItem of addressList" class="col-lg-4" >
        <mat-card class="example-card "  (click)="updateForm(addressItem) ">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{addressItem.fullAdrs}}</mat-card-title>
            </mat-card-header>
            <!-- <mat-card-content>
              <p>
                {{product.longDescription}}
              </p>
            </mat-card-content> -->
            <mat-card-actions>
              <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon" (click)="$event.stopPropagation();deleteAddress(addressItem.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <div align="end">
                <mat-checkbox class="example-margin" [checked]="choosenAddress.id==addressItem.id"(click)="$event.stopPropagation();" (change)="setAddress(addressItem,$event.checked)">Default Address</mat-checkbox>
              </div>
            </mat-card-actions>
          </mat-card>
    </div>
</div>