<section>
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div class="d-flex flex-row align-items-center">
        <h4 class="text-uppercase mt-1">Eligible</h4>
        <span class="ms-2 me-3">Pay</span>
      </div>
      <a href="#!">Cancel and return to the website</a>
    </div>
  
    <div class="row">
      <div class="col-md-7 col-lg-7 col-xl-6 mb-4 mb-md-0">
        
        <div>
          
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row mt-1">
              <h6>Patient Balance</h6>
              <h6 class="fw-bold text-success ms-1">$13.24</h6>
            </div>
            
            <div class="d-flex flex-row align-items-center text-primary" (click) = "openDialog()"type="button">
              <span class="ms-1">Add Payment card</span>
            </div>
          </div>
          <p>
            Insurance claim and all neccessary dependencies will be submitted to your
            insurer for the covered portion of this order.
          </p>
          <div class="d-flex flex-column mb-3">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" />
                <label class="btn btn-outline-primary btn-lg" for="option1">
                  <div class="d-flex justify-content-between">
                    <span>CASH </span>
                    
                  </div>
                </label>

              <div *ngFor="let payment of  payments">
                <input   class="btn-check" name="options"  autocomplete="off" />
                <label class="btn btn-outline-primary btn-lg" >
                  <p>{{payment.cardName}} </p>
                  <div class="d-flex justify-content-between">
                    
                   
                    <span>{{payment.cardNumber}} **** {{payment.last_three_number_back}}</span>
                    
                  </div>
                </label>
              </div>
  
              
            </div>
          </div>
          <div class="btn btn-success btn-lg btn-block">Proceed to payment</div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 col-xl-4 offset-lg-1 offset-xl-2">
        <div class="p-3" style="background-color: #eee;">
          <span class="fw-bold">Order Recap</span>
          <div class="d-flex justify-content-between mt-2">
            <strong><h2>Subtotal </h2></strong> <span>$ {{ getTotalPrice() }}</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span>Discount</span> <span>$0.0</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span>Taxes ( Included )</span> <span>+ $0.0</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span>Shipping (with options(metro , motor)) </span> <span>+ 40.00</span>
          </div>
          <hr />
          <div class="d-flex justify-content-between mt-2">
            <span>Gift Card </span> <span>+ 40.00</span>
          </div>
          
          <hr />
          <div class="d-flex justify-content-between mt-2">
            <strong><h2>Total </h2> </strong> <span class="text-success">$85.00</span>
          </div>
          <div>
            <button class="btn   btn-block" style="background-color: #FFC0CB;" >
              Gift Card (Promo)</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  
<section>
  <nav class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between">
    <a class="navbar-brand" href="#">INVOICE</a>
    
</nav>
<form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
        <div class="row">
            <div class="col-md-9">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h4 class="card-title">Customer Details</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.customerName" #CustName="ngModel" required>
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea class="form-control" name="address" id="address" row="3"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && Address.invalid}"
                                        [(ngModel)]="invoice.address" #Address="ngModel" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email ID</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        [(ngModel)]="invoice.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="contactNo">Contact No.</label>
                                    <input type="number" class="form-control" name="contactNo" id="contactNo"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && ContactNo.invalid}"
                                        [(ngModel)]="invoice.contactNo" #ContactNo="ngModel" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2" style="background-color:palevioletred ;">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                                class="btn btn-secondary" >+</button></h4>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20%">Product</th>
                                        <th width="20%">Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%">Total</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products; let i=index">
                                        <td scope="row">
                                            <input type="text" class="form-control" name="productName{{i}}"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"
                                                 [(ngModel)]="product.name" #ProductName="ngModel"
                                                required [readonly]="true">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="price{{i}}" 
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                                                [(ngModel)]="product.price" #ProductPrice="ngModel" required [readonly]="true">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="quantity{{i}}" 
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                [(ngModel)]="product.quantity" #ProductQty="ngModel" required
                                                [readonly]="productsEdit[i]"
                                                [ngStyle]="{'background-color':productsEdit[i] === true ? 'palevioletred' : '' }"
                                                >
                                        </td>
                                        <td >
                                            <!-- {{product.price * product.quantity || ''}} -->
                                            {{calculatePrice(product.quantity,product.price)}}
                                        </td>
                                        <h4 class="card-title d-flex justify-content-between"><button type="button"
                                          class="btn btn-secondary" (click)="edit(i)">Edit = {{!productsEdit[i]}}</button></h4>
                                    </tr>
                                    <tr>
                                      <td><h3 width="50%"> Total ->   </h3> </td>
                                      
                                      <td><h3 width="25%">TQ : {{ getTotalQuantity() }}   </h3>  </td>
                                      <td><h3 width="25%">TP : {{ getTotalPrice() }}   </h3>  </td>
                                     
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? '' : ''">Download Invoice</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? '' : ''">Print
                    Invoice</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? '' : ''">Open
                    Invoice</button>
            </div>
        </div>
    </div>
</form>
<footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button"  target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Ankit_NgDevelop</a>.
        </h6>
    </div>
</footer>
</section>