<p style="background-color: blue; color: black;width: fit-content;padding: 10px;">Saloooh basha</p>
<div>
    <form class="center">
        <div class="form-group">

            <div>
                <p class="form-title"> add product form</p>
            </div>
            <div class="form-body">
                <div class="form-row">
                    <label class="form-label">
                        {{ "product name" | titlecase }}
                    </label>
                    <input class="form-control" name="Product Name" type="text" #PRODUCT_NAME
                        [(ngModel)]="product.name">
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "shortDescription" | titlecase }}
                        </label>
                        <input class="form-control" name="shortDescription" type="text" #shortDescription
                            [(ngModel)]="product.shortDescription">

                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "longDescription" | titlecase }}
                        </label>
                        <input class="form-control" name="longDescription" type="text" #longDescription
                            [(ngModel)]="product.longDescription">

                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "price" | titlecase }}
                        </label>
                        <input class="form-control" name="price" type="text" #price
                            [(ngModel)]="product.price">

                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "quantity" | titlecase }}
                        </label>
                        <input class="form-control" name="quantity" type="text" #quantity
                            [(ngModel)]="product.quantity">

                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "discount" | titlecase }}
                        </label>
                        <input class="form-control" name="discount" type="text" #discount
                            [(ngModel)]="product.discount">

                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <label class="form-label">
                            {{ "maximumDiscountValue" | titlecase }}
                        </label>
                        <input class="form-control" name="maximumDiscountValue" type="text" #maximumDiscountValue
                            [(ngModel)]="product.maximumDiscountValue">

                    </div>
                </div>
                <button class="mat-button" (click)="submit()" type="button">add</button>
            </div>
        </div>
    </form>
</div>