<p style="background-color: blue; color: black;width: fit-content;padding: 10px;">Saloooh basha</p><br>
<div>
    <form>
        <div class="form-group">

            <div class="form-title">
                <h3> Add product form</h3>
            </div>

            <div class="form-body">
                <div >
                    <div class="form-row">
                        <label class="form-label" for="ProductName">
                            {{ "product name" | titlecase }}
                        </label>
                        <input  id="ProductName" name="ProductName" type="text" #PRODUCT_NAME class="form-control"
                            [(ngModel)]="product.name">
                    </div>
                    <div class="form-row">
                        <div >
                            <label class="form-label" for="shortDescription">
                                {{ "shortDescription" | titlecase }}
                            </label>
                            <input id="shortDescription" name="shortDescription" type="text" #shortDescription
                            class="form-control" [(ngModel)]="product.shortDescription">
    
                        </div>
                    </div>
                </div>
               
                <div >
                    <div class="form-row">
                        <label class="form-label" for="longDescription">
                            {{ "longDescription" | titlecase }}
                        </label>
                        <input class="form-control" name="longDescription" type="text" #longDescription class="form-control"
                            id="longDescription" [(ngModel)]="product.longDescription">
                    </div>
                    <div class="form-row">
                        <div >
                            <label class="form-label" for="price">
                                {{ "price" | titlecase }}
                            </label>
                            <input class="form-control" name="price" type="text" #price
                               id="price" [(ngModel)]="product.price" class="form-control">

                        </div>
                    </div>
                </div>

                <div >
                    <div class="form-row">
                        <label class="form-label" for="quantity">
                            {{ "quantity" | titlecase }}
                        </label>
                        <input class="form-control" name="quantity" type="text" #quantity
                        id="quantity" [(ngModel)]="product.quantity">

                    </div>
                    <div class="form-row">
                        <div >
                            <label class="form-label" for="discount">
                                {{ "discount" | titlecase }}
                            </label>
                            <input class="form-control" name="discount" type="text" #discount
                            id="discount"  [(ngModel)]="product.discount">

                        </div>
                    </div>
                </div>

                <div >
                    <div class="form-row">
                        <label class="form-label" for="maximumDiscountValue">
                            {{ "maximumDiscountValue" | titlecase }}
                        </label>
                        <input class="form-control" name="maximumDiscountValue" type="text" #maximumDiscountValue
                        id="maximumDiscountValue" [(ngModel)]="product.maximumDiscountValue">

                    </div>
                    <div class="form-row">
                        <div >
                            <label class="form-label" for="stores">
                                {{ "stores" | titlecase }}
                            </label>
                            <select [(ngModel)]="id" id="stores" name="stores">
                                <option *ngFor="
                                let store of getStores()
                              " [value]="store.id">
                              {{ store.name }}
                            </option>
                            </select>

                        </div>
                    </div>
                </div>

               <div class="form-row">
                <button class="form-button" (click)="submit()" type="button">Add</button>
               </div>
                
            </div>
        </div>
    </form>
</div>