<div>
    <div class="row">
        <div *ngFor="let product of productsList" class="col-lg-3" >
            <mat-card class="example-card " (click)="GetProductDetails(product?.id)">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>{{product?.name}}</mat-card-title>
                  <mat-card-subtitle>{{'EGP '+ product.price}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{product?.images}} alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    {{product.longDescription}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Save For Later</button>

                  <button mat-button (click)="$event.stopPropagation();addItemToCart(product)" *ngIf="!product.cartItemsCount||product.cartItemsCount==0">Add to Cart</button>
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="$event.stopPropagation();addItemToCart(product)" *ngIf="product.cartItemsCount>0">
                    <mat-icon>add_box</mat-icon>
                  </button>
                  <mat-form-field appearance="outline" *ngIf="product.cartItemsCount>0" class="increment">
                    <input matInput [(ngModel)]="product.cartItemsCount"name="postalCode"  type="text" />
                  </mat-form-field>
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="$event.stopPropagation();removeItemFromCart(product)" *ngIf="product.cartItemsCount>0">
                    <mat-icon>remove</mat-icon>
                  </button>

                  <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon" class="delete-button" (click)="$event.stopPropagation();deleteProduct(product?.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    
</div>
